:root {
  --animalsSpeed: .3s;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.board {
  max-width: 1000px;
  position: relative;
}

.board img {
  width: 100%;
  display: block;
  opacity: 0;
}

/* -------------------- dado -------------------- */

.hud {
  position: absolute;
  top: 0;
  left: -150px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
}

.dado i {
  background-image: url(dado.png);
  width: 88px;
  height: 88px;
  display: block;
}

.shake {animation: shakeAnimation .3s;}
.dado--1 { background-position: -50px -50px; }
.dado--2 { background-position: -177px -50px; }
.dado--3 { background-position: -303px -50px; }
.dado--4 { background-position: -51px -183px; }
.dado--5 { background-position: -178px -183px; }
.dado--6 { background-position: -304px -183px; }

@keyframes shakeAnimation {
  from, to { transform: none; }
  33% { transform: translateY(-10px ) }
  60% { transform: translateY(10px) }
}

.players {
  display: flex;
  flex-direction: column;
}

.players li {
  width: 100px;
  height: 100px;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: background-color .3s;
  display: flex;

  transition: border-color .5s;
}

.players li.current {
  border-color: lightblue;
}

.players li.current i {
  animation: currentRotation 2s infinite;
}

@keyframes currentRotation {
  from, to { transform: none }
  33% { transform: rotate(-2deg)}
  66% { transform: rotate(2deg)}
}

.players li.cant-play {
  filter: saturate(0) drop-shadow(0 0 10px gray);
}

.players i {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.players div {
  font-size: 13px;
  font-family: sans-serif;
  color: white;
  width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;

  position: absolute;
  left: -210px;
  z-index: 10;
}

.players [data-power] {
  color: lightblue;
}
.players [data-defense-attack],
.players [data-defense-move] {
  color: lightgreen;
}
.players [data-total-attacks] {
  color: yellow;
}
.players [data-total-attacked] {
  color: tomato;
}
.players [data-total-attacks-defenses],
.players [data-total-moves-defenses] {
  color: darkorchid;
}

.start {
  background-color: #1ca41c;
  border: none;
  padding: 8px 12px;
  font-size: 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: transform .3s;
}
.start:focus,
.start:hover {
  transform: scale(1.5);
}

/* -------------------- spots -------------------- */
.spots {
  position: absolute;
  top: 0;
  left: 0;
}

.spots li {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  
  transform: translate(
    calc(var(--x) * 1px),
    calc(var(--y) * 1px)
  );
    
  border: 1px solid white;
  color: white;
  color: transparent;
}

.spots li[data-type="power"] {
  background-color: rgba(0, 0, 255, .4);
}
.spots li[data-type="defense"] {
  background-color: rgba(0, 255, 0, .4);;
}
.spots li[data-type="move"] {
  background-color: rgba(255, 155, 0, 0.4);;
}
.spots li[data-type="+2"]::before {
  content: "+2";
  color: green;
  position: absolute;
}
.spots li[data-type="+3"]::before {
  content: "+3";
  color: green;
  position: absolute;
}
.spots li[data-type="-2"]::before {
  content: "-2";
  color: red;
  position: absolute;
}
.spots li[data-type="-3"]::before {
  content: "-3";
  color: red;
  position: absolute;
}
.spots li[data-type="-4"]::before {
  content: "-4";
  color: red;
  position: absolute;
}

.spots i {
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;

  animation: blow .5s ease-out both;
}

.spots i.green { border-color: greenyellow; }
.spots i.red { border-color: red; }
.spots i.blue { border-color: cyan; }
.spots i.orange { border-color: orange; }


@keyframes blow {
  from {
    transform: none;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

/* -------------------- animals -------------------- */
.animals {
  position: absolute;
  top: 0;
  left: 0;
}

.animals li {
  z-index: 5;
  position: absolute;
  transition: transform var(--animalsSpeed);
  transform: translate(
    calc(var(--x) * 1px),
    calc(var(--y) * 1px)
  );
}

.animals li.cant-play {
  filter: saturate(0) drop-shadow(0 0 10px gray);
}

.animals li.attacked {
  filter: drop-shadow(0 0 10px red);
}

.animals li i.burp {
  animation: burp 1s infinite;
}

@keyframes burp {
  from {
    transform: none;
  }
  to {
    transform: rotate(360deg);
  }
}

.animals i {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, .2));
  animation: jump 2s infinite;
  z-index: 4;
}

@keyframes jump {
  from, to {
    tranform: none;
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, .2));
  }
  50% {
    transform: translateY(-5px);
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, .2));
  }
}

.blast {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 10px solid cyan;
  filter: blur(5px);

  position: absolute;
  top: 0;
  transform-origin: center;

  animation: blastMove .5s;
}


@keyframes blastMove {
  50% { opacity:  1; }
  to {
    transform: translate(
      calc(var(--x) * 1px),
      calc(var(--y) * 1px)
      );
    opacity: 0;
  }
}

.shield {
  width: 40px;
  height: 40px;
  background-image: url(shield.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: -20px;
  z-index: 10;
  animation: shieldAnimation .7s both cubic-bezier(0.47, 0.14, 0.31, 1.61);
}

@keyframes shieldAnimation {
  from {
    opacity: 0;
    scale: .5;
    transform: translate(10px, 20px) rotate(45deg);
  }
  to {
    opacity: 1;
    scale: 1.5;
    transform: none;
    filter: drop-shadow(0 0 10px rgba(255, 255, 0, .3));
  }
}